[run]
omit =
    app/__init__.py
    app/classes/__init__.py
    app/test/*
    app/main.py
    app/config.py
    app/not_used/*
[report]
show_missing = true
precision = 2
exclude_lines = 
    pragma: no cover
    if TYPE_CHECKING:
