annotated-types==0.7.0
anyio==4.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
coverage==7.7.0
cycler==0.12.1
dnspython==2.7.0
fastapi==0.115.11
fonttools==4.56.0
h11==0.14.0
idna==3.10
indoor_crowded_region_detection_database @ git+https://github.com/SW8-Indoor-Crowded-Regions/database@ac4a6c0f8edcdc4cd3b62a324508f4d035271b5a
iniconfig==2.0.0
kiwisolver==1.4.8
matplotlib==3.10.1
mongoengine==0.29.1
networkx==3.4.2
numpy==2.2.3
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
pydantic==2.10.6
pydantic_core==2.27.2
pymongo==4.11.2
pyparsing==3.2.1
pytest==8.3.5
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
ruff==0.11.0
six==1.17.0
sniffio==1.3.1
starlette==0.46.1
style==1.1.0
typing_extensions==4.12.2
update==0.0.1
urllib3==2.3.0
uvicorn==0.34.0
